.book-list{
    text-decoration-color: green;
}

h1{
   text-align: center;
   margin-top: 10mm;
}

.book-details{
    text-align: center;
}
div{
    position: relative;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 46px);
}
