.book-list{
    text-decoration-color: green;
}

h1{
   text-align: center;
   margin-top: 10mm;
}

.book-details{
    text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> c32dfbb00e25c1bc629df4a69e92617d710ff062
